<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1><%= @title %></h1>
  <section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <div class="text-muted">Total</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <span class="text-muted">Transacciones</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <span class="text-muted">Promedio</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <span class="text-muted">Promedio Mensual</span>
    </div>
  </section>
  <button type="button" class="btn btn-primary expense-btn" data-toggle="modal" data-target="#expenses-form-modal" >Nuevo Gasto</button>
  <div class="table-responsive">
    <table class="table table-striped text-center" id="expenses-table">
      <thead>
        <tr>
          <th>Dia</th>
          <th>Concepto</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.date.to_formatted_s(:short) %></td>
          <td><%= expense.concept %></td>
          <td><%= expense.transaction_type.name %></td>
          <td><%= expense.category.name %></td>
          <td><%= number_to_currency(expense.amount, unit: "COP ", precision: 0) %></td>
          <td>borrar - editar</td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</main>

<div class="modal fade" id="expenses-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="expense-form">
          <div class="modal-body">
            <div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tipo:</label>
                    <%= select_tag 'transaction_type_id', options_from_collection_for_select(@types, 'id', 'name'), class: 'form-control', id: 'transaction_type_id', include_blank: "Tipo de transacción..."%>                  
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Fecha:</label>
                    <input type="date" class="form-control" name="date" id="date">                  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Concepto:</label>
                    <input type="text" class="form-control" name="concept" id="concept">                  
                  </div>                    
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Categoria:</label>
                    <%= select_tag 'category_id', options_from_collection_for_select(@categories, 'id', 'name'), class: 'form-control', id: 'category_id', include_blank: "Categoria...."%>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Cantidad:</label>
                    <input type="number" class="form-control" name="amount" id="amount">                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Guardar" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>