<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1><%= @title %></h1>
  <section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <div class="text-muted">Total</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <span class="text-muted">Transacciones</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <span class="text-muted">Promedio</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h4>Label</h4>
      <span class="text-muted">Promedio Mensual</span>
    </div>
  </section>
  <button type="button" class="btn btn-primary expense-btn" data-toggle="modal" data-target="#expenses-form-modal" >Nuevo Gasto</button>
  <div class="table-responsive">
    <table class="table table-striped text-center" id="expenses-table">
      <thead>
        <tr>
          <th>Dia</th>
          <th>Concepto</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.date.to_formatted_s(:short) %></td>
          <td><%= expense.concept %></td>
          <td><%= expense.transaction_type.name %></td>
          <td><%= expense.category.name %></td>
          <td><%= number_to_currency(expense.amount, unit: "COP ", precision: 0) %></td>
          <td>
            <button value="<%=expense.id%>" class="btn btn-primary btn-sm op-btn edit-btn"><i class="material-icons">mode_edit</i></button>
            <button value="<%=expense.id%>" class="btn btn-danger btn-sm op-btn delete-btn"><i class="material-icons">delete</i></button>            
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</main>

<div class="modal fade" id="expenses-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="expense-form">
          <%= render 'form'%>
        </form>
      </div>
    </div>
  </div>

<div class="modal fade" id="edit-expenses-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit-expense-form">
        <input type="hidden" name="id" value="" id="expense_id">
        <%= render 'form'%>
      </form>
    </div>
  </div>
</div>